body {
    /* Option #1: background image */
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* Option #2: dark grey background */
    background-color: #484d5c;
    text-align: center;
}

h1, h2{
 font-family: 'Oswald', sans-serif;
 font-size: 60px;
 text-transform: uppercase;
 color: #ffce00;
}

h1{
 font-size: 70px;
}

h2{
 font-size: 30px;
}

p {
    color: #c0ccd4;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0.7;
}

button{
    font-size: 20px;
    background-color: #ffce00;
    border-radius: 8px;
}

button:hover {
    color: white;
}

input{
    border-radius: 8px;
}

#canvas-holder {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }