body {
    /* Option #1: background image */
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* Option #2: dark grey background */
    background-color: #484d5c;
    text-align: center;
}

h1, h2{
 font-family: 'Oswald', sans-serif;
 font-size: 60px;
 text-transform: uppercase;
 color: #ffce00;
}

h1{
 font-size: 70px;
}

h2{
 font-size: 30px;
}

p {
    color: #c0ccd4;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0.7;
}

button{
    font-size: 20px;
    background-color: #ffce00;
    border-radius: 8px;
}

button:hover {
    color: white;
}

input{
    border-radius: 8px;
}

#canvas-holder {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }